.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 1024px;
  padding: 0 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 200px;
  padding: 14px;
  margin-top: 50px;
  background: #fff;
  border: $card-border solid $cardBorderColor;
  border-radius: $cardBorderRadius;

  // &__img-block {
  //   box-sizing: initial;
  //   display: flex;
  //   justify-content: center;
  //   padding: 15px 5px;
  //   margin-bottom: $imgBottomMargin;
  //   transition: transform 400ms;
  // }

  &__img {
    box-sizing: initial;
    align-self: center;
    width: 160px;
    height: 134px;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 42px;
    transition: $transitionDuration;
    border: $img-border solid rgba($color: #000, $alpha: 0);

    &:hover {
      border: $img-border solid $cardBorderColor;
      transform: scale($imgScale);
      margin-top: 0;
      margin-bottom: 27px;
      padding-top: 15px;
      padding-bottom: 12px;
    }
  }
  
  &__title {
    margin-bottom: 6px;
  }
  
  &__title-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
  }
  
  &__code {
    margin-bottom: 15px;
  }
  
  &__code-text {
    margin: 0;
  }
  
  &__review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    &-block {
      display: flex;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  &__price-text {
    align-self: flex-end;
    padding-bottom: 1px;
  }

  &__price-numbers {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
  }
}

.star {
  @include star-size ($star-size);
  margin-right: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/images/star.svg);

  &:nth-child(-n + #{$rating}) {
    background-image: url(/images/star-active.svg);
  }
}

.button-link {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background: $text-nav-color;
  border: $cardButtonBorder solid $text-nav-color;
  border-radius: $cardButtonBorderRadius;
  transition: $transitionDuration;

  &:hover {
    background: white;
    color: $text-nav-color;
  }
}
