$rating:4;
$text-color: #000;
$nav-hight: 60px;
$text-nav-color: #00acdc;
$logo-square-size: 40px;
$text-nav-size: 12px;
$header-padding: 0 50px;
$nav-text-transform: uppercase;
$header-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
$star-size: 15px;
$card-border: 1px;
$img-border: 3px;
$imgScale: 1.2;
$imgBottomMargin: 30px;
$HoverTopMargin: ($imgBottomMargin / $imgScale) - $card-border;
$HoverLeftAndRigthMArgin: $img-border - $card-border;
$cardBorderColor: #f3f3f3;
$cardBorderRadius: 5px;
$cardButtonBorder: 1px;
$cardButtonBorderRadius: 5px;
